bin/*.ilk
bin/*.pdb
XX004/.vs/
XX004/XX004.VC.*
XX004/x64/
XX004/Common/x64/
XX004/Common/SvrGate.vcxproj.user
XX004/ServerGate/x64/
XX004/ServerGate/SvrGate.vcxproj.user
XX004/ServerData/x64/
XX004/ServerData/SvrGate.vcxproj.user

